{% extends '_layouts/base.html' %}
{% load static %}
{% block comment %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/logo_icon.ico' %}">
    <link rel="stylesheet" type="text/css" href="D:\Programm\PYcharm\Cleaning_2_0\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>


<div class="pre_feedback">
    <p id="feedback">Відгуки</p>
    <p1>Ми чекаємо саме на твій відгук! <br>Надсилай його нам не електронну пошту - vivaCl.Kiev@gmail.com</p1>
</div>

<br>
<div class="feedback_div">
    <table class="feedback">
        <tr>
            <td class="feedback_name">
                <div class="left-right">
                    <p>Вікторія</p>
                </div>
            </td>
            <td class="feedback_date">
                <div class="left-right">
                    <p>04.07.2023</p>
                </div>
            </td>
        </tr>
    </table>
    <p class="feedback_text">Зранку залишила квартиру, а після обіду зателефонували й сказали,
        що всю квартиру прибрали. Результатом задоволена, сподобалось те, що я була на роботі
        , а мою квартиру без моєї присутності швидко та якісно прибрали!</p>
</div>

<br>
<div class="feedback_div">
    <table class="feedback">
    <tr>
        <td class="feedback_name">
            <div class="left-right">
                <p>Влад</p>
            </div>
        </td>
        <td class="feedback_date">
            <div class="left-right">
                <p>03.05.2023</p>
            </div>
        </td>
    </tr>
</table>
<p class="feedback_text">Не в перший раз замовляю клін сервіс, завжди все чудово, дівчата приїхали,
    все швидко прибрали, окремо хочу виділити менеджерів, завжди приємно
    спілкувались + гарна організація. Рекомендую</p>
</div>

<br>
<div class="feedback_div">
    <table class="feedback">
        <tr>
            <td class="feedback_name">
                <div class="left-right">
                    <p>Олег</p>
                </div>
            </td>
            <td class="feedback_date">
                <div class="left-right">
                    <p>12.11.2022</p>
                </div>
            </td>
        </tr>
    </table>
    <p class="feedback_text">Заказывал уборку после квартирантов, к сожалению
    квартиранты были свиньями, всё було завалено кучами мусора, но работники
    VivaClean убрали всё идеально! Всем рекомендую!</p>
</div>

<br>
<div class="feedback_div">
    <table class="feedback">
        <tr>
            <td class="feedback_name">
                <div class="left-right">
                    <p>Віталій</p>
                </div>
            </td>
            <td class="feedback_date">
                <div class="left-right">
                    <p>05.08.2022</p>
                </div>
            </td>
        </tr>
    </table>
    <p class="feedback_text">Заказали уборку после ремонта, но пришлось уехать на дачу, оставили ключи
        менеджеру, на следующий день вернулись, забрали ключи и проверили работу. Молодцы, всё сделали хорошо</p>
</div>

<br>
<div class="feedback_div">
    <table class="feedback">
        <tr>
            <td class="feedback_name">
                <div class="left-right">
                    <p>Дима</p>
                </div>
            </td>
            <td class="feedback_date">
                <div class="left-right">
                    <p>02.05.2022</p>
                </div>
            </td>
        </tr>
    </table>
    <p class="feedback_text">Спасибо большое всем!
        Быстро заказал, быстро приехали и быстро всё убрали. Сразу видно хороший сервис и качество!</p>
</div>
<br>
<br>

{% endblock comment %}
