{% extends '_layouts/base.html' %}
{% load static %}
{% block contacts %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/logo_icon.ico' %}">
    <link rel="stylesheet" type="text/css" href="D:\Programm\PYcharm\Cleaning_2_0\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<div class="vzqr">
    <div class="vz">
        <img src="{% static 'img/vz.png' %}" id="vz">
    </div>
    <div class="qr">
        <img src="{% static 'img/qr.png' %}" id="qr">
    </div>

</div>
<br>
<br>
<div class="logo_contacts">
        <div class="logo">
                <p><b>Бездоганно чисто</b> - прибирання будь-якої складності у приміщеннях та прилеглій території.<br> тривалий час надаємо клінінгові послуги <br> на професійному рівні під ключ.</p>
        </div>
        <div class="contacts">
                <p id="contacts">КОНТАКТИ</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> м.Київ</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> <a class='phoneclick' href="tel:+380971529140"> +380-971-529-140</a><br><a class='phoneclick' href="tel:+380951884524">+ 380-951-884-524</a></p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> vivaCl.Kiev@gmail.com</p>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> Пн - Вс: 9:00 - 20:00 - офіс<br>Пн - Вс: 24/7 - прибирання</p>
        </div>
</div>

{% endblock contacts  %}