{% extends '_layouts/base.html' %}

{% load static %}

{% block main %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>VivaClean</title>
    <link rel="icon" href="{% static 'img/logo_icon.ico' %}">
    <link rel="stylesheet" type="text/css" href="D:\Programm\PYcharm\Cleaning_2_0\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<div>
        <img class="big_photo" src="{% static 'img/banner2.jpg' %}">
</div>
<div class="poslygu">
        <div class="poslygu_div" id="poslygu1">
            <img src="{% static 'img/main-info-1.jpg' %}">
                <p><b>Якість послуг<br></b>Єдині стандарти якості на об'єктах під час
                    проведення послуг, внутрішній контроль якості на об'єктах</p>
        </div>
        <div class="poslygu_div" id="poslygu2">
             <img src="{% static 'img/main-info-2.jpg' %}">
                <p><b>Форма оплати</b><br> Індивідуальний розрахунок об'єктів під бюджет замовника</p>
        </div>
        <div class="poslygu_div" id="poslygu3">
             <img src="{% static 'img/main-info-3.jpg' %}">
                <p><b>Мобільність</b><br> Проведення клінінгових послуг протягом 3-х годин, для термінового прибирання,
                    після звернення до нашої компанії</p>
        </div>
        <div class="poslygu_div" id="poslygu4">
             <img src="{% static 'img/main-info-4.jpg' %}">
                <p><b>Кваліфікований персонал</b><br> Провeдення регулярних навчань співробітників для різних
                    типів об'єктів. Проведення тестів та іспитів до виходу на об'єкт.</p>
        </div>
</div>
<p id="text10"><b>Чистота - наше все</b></p>
<p id="text11">виконаємо будь-які клінінгові послуги</p>
<div class="table_photo">
        <div class="str1">
                <div class="inline_photo">
                        <img src="{% static 'img/icon6_1644231429_600x400_4a3.jpg' %}">
                </div>
                <div class="inline_photo">
                        <img src="{% static 'img/icon8_1644231441_600x400_4a3.jpg' %}">
                </div>
        </div>

        <div class="str2">
                <div class="inline_photo">
                        <img src="{% static 'img/icon9_1644231447_600x400_4a3.jpg' %}">
                </div>
                <div class="inline_photo">
                        <img src="{% static 'img/icon7_1644231434_600x400_4a3.jpg' %}">
                </div>
        </div>

        <div class="str3">
                <div class="inline_photo">
                        <img src="{% static 'img/icon10_1644231453_600x400_4a3.jpg' %}">
                </div>
                <div class="inline_photo">
                        <img src="{% static 'img/icon11_1644231459_600x400_4a3.jpg' %}">
                </div>
        </div>
</div>

<p id="text12"><b>Місія</b><i>"Наше прибирання - перевершує<br> очікування клієнта, в балансі з професіоналізмом<br>
    та демократичною ціною. Ми надаємо бездоганну<br>
    якість і хочемо заслужити Вашу довіру!"</i></p>

<div class="stat">
    <div id="kolo-main-div">
        <div class="kolo">
                <div class="inkolo">
                        <p>Більше<br>4300 <br>задоволених <br> власників</p>
                </div>
        </div>
        <div class="kolo">
                <div class="inkolo2">
                        <p>Більше <br>2100<br> великих<br> об'єктів</p>
                </div>
        </div>
        <div class="kolo">
                <div class="inkolo3">
                        <p>11 років <br>праці: <br>м.Київ, та <br>Україна</p>
                </div>
        </div>
    </div>
</div>

<div class="pre_footer">
        <div class="pre_text">
                <p><b>Не знаєте, який тип прибирання вам<br>підійде?</b></p>
                <p>Ми підберемо для вас оптимальний план прибирання!</p>
        </div>
        <div class="pre_img">
                <img src="{% static 'img/bg-cta.png' %}">

        </div>
        <div class="pre_number">
                <p>Телефонуйте. Ми зараз працюємо</p>
                <p><b>+ (380) 97-152-91-40</b><br><b>+ (380) 95-188-45-24</b></p>
        </div>
</div>

<div class="logo_contacts">
        <div class="logo">
                <img src="{% static 'img/IMG_9846.jpg' %}">
                <p><b>Бездоганно чисто</b> - прибирання будь-якої складності у приміщеннях та прилеглій території.<br> тривалий час надаємо клінінгові послуги <br> на професійному рівні під ключ.</p>
        </div>

        <div class="contacts">
                <p id="contacts">КОНТАКТИ</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> м.Київ</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> <a class='phoneclick' href="tel:+380971529140"> +380-971-529-140</a><br><a class='phoneclick' href="tel:+380951884524">+ 380-951-884-524</a></p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> vivaCl.Kiev@gmail.com</p>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> Пн - Вс: 9:00 - 20:00 - офіс<br>Пн - Вс: 24/7 - прибирання</p>
        </div>
</div>
</html>
{% endblock main %}
