{% extends '_layouts/base.html' %}
{% load static %}

{% block services %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/logo_icon.ico' %}">
    <link rel="stylesheet" type="text/css" href="D:\Programm\PYcharm\Cleaning_2_0\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<div class="table_photo">
        <div class="str1">
                <div class="inline_photo">
                        <img src="{% static 'img/icon6_1644231429_600x400_4a3.jpg' %}">
                </div>
                <div class="inline_photo">
                        <img src="{% static 'img/icon8_1644231441_600x400_4a3.jpg' %}">
                </div>
        </div>


        <div class="str2">
                <div class="inline_photo">
                        <img src="{% static 'img/icon9_1644231447_600x400_4a3.jpg' %}">
                </div>
                <div class="inline_photo">
                        <img src="{% static 'img/icon7_1644231434_600x400_4a3.jpg' %}">
                </div>
        </div>


        <div class="str3">
                <div class="inline_photo">
                        <img src="{% static 'img/icon10_1644231453_600x400_4a3.jpg' %}">
                </div>
                <div class="inline_photo">
                        <img src="{% static 'img/icon11_1644231459_600x400_4a3.jpg' %}">
                </div>
        </div>
</div>


<div class="xim_top">
    <p1>Обробка квартири від комах</p1>
    <p>Спеціалісти нашої компанії використовують сучасне обладнання та засоби
        для проведення дезінфекційних робіт, і зроблять все швидко та якісно</p>
</div>

<div class="xim_main">
    <div class="xim">
        <img src="{% static 'img/xim0.JPG' %}" class="xim_0_img">
    </div>
    <div class="xim_div" id="xim_div">
        <div class="xim_str_1">
            <div class="xim_img_div1">
                <figure><img src="{% static 'img/xim1.jpg' %}" class="xim_img"><figcaption><b>Етап 1</b><br>Приїзд<br> фахівця</figcaption></figure>
            </div>
            <div class="xim_img_div2">
                 <figure><img src="{% static 'img/xim2.jpg' %}" class="xim_img"><figcaption><b>Етап 2</b><br>Дослідження<br> квартири</figcaption></figure>
            </div>
        </div>
        <div class="xim_str_2">
            <div class="xim_img_div1">
                <figure><img src="{% static 'img/xim3.jpg' %}" class="xim_img"><figcaption><b>Етап 3</b><br>Обробка<br> приміщення</figcaption></figure>
            </div>
            <div class="xim_img_div2">
                <figure><img src="{% static 'img/xim4.jpg' %}" class="xim_img"><figcaption><b>Етап 4</b><br>Провітрювання <br>приміщення</figcaption></figure>
            </div>
        </div>
    </div>
</div>



<div class="ozon">
    <p1>Озонування після пожежі</p1>
    <p>Спеціалісти VivaClean професійно
    виконують озонування житлових
    та виробничих об'єктів після пожежі.<br>
    Звертайтесь! Знищуємо запах на
    молекулярному рівні. </p>
</div>

<div class="ozon_text">
    <div class="ozon_str">
        <img src="{% static 'img/ozon..png' %}" class="ozon_img">
    </div>
    <div class="ozon_str2">
        <p>Пожежа залишає не лише руйнівні наслідки у квартирах,
        торгових центрах, на підприємствах та складах, а й стійкий запах
        гару, який проникає в меблі, килими, стіни і залишається навіть через
        час після тривалого вивітрювання та використання ароматизаторів. Важкий,
        токсичний та їдкий запах не тільки неприємний, він ще й небезпечний для нашого
        організму. Звичайно, ви можете викинути зіпсовані меблі, просочені
        запахом гарі речі, вимити квартиру та використовувати ароматичні аерозолі,
        але це вирішить проблему. Для видалення запаху назавжди необхідно знищити
        частинки гару, які осідають у найдрібніших тріщинах та щілинах.</p>
    </div>
</div>


<div class="kvarz">
    <p1>Дезінфекція кварцовою лампою</p1>
    <p>Кварцювання – недорогий та ефективний метод знезараження повітря.<br>
        Під час процедури використовують спеціальну кварцову лампу для дезінфекції.</p>
</div>

<div class="kvarz_text">
    <div class="kvarz_str1">
        <img src="{% static 'img/lampa.png' %}" class="kvarz_img">
    </div>
    <div class="kvarz_str2">
        <p>Це безпечний спосіб, що дозволяє швидко позбутися хвороботворних бактерій
        та мікроорганізмів. При включенні обладнання не має негативного впливу
        на здоров'я оточуючих. Надаємо послуги з беззараження житлових та офісів,
        медустанов, дитсадків, шкіл. УФ випромінювання згубно впливає на патогенну
        мікрофлору, дезінфікуючи приміщення, озонуючи атмосферу. Використання УФ лампи
        ефективно проти вірусів, хвороботворних мікроорганізмів, що викликають хвороби
        повітряно-краплинним шляхом.</p>
        <p><br><b>Переваги кварцювання</b><br>
        Очищення за допомогою випромінювання має наступні переваги:<br>
         • знезараження повітря, поверхонь із довготривалим ефектом;<br>
         • безпека для людей, свійських тварин;<br>
         • очищення від вірусів, спор та грибків, патогенної мікрофлори;<br>
         • позитивний вплив у комплексі боротьби зі шкірними, респіраторними хворобами;<br>
         • профілактика вірусних, інфекційних захворювань дихальної системи;<br>
         • оздоровлення мікроклімату.</p>
    </div>
</div>

<div class="men">
    <p1>Послуга "Чоловік на годину"</p1>
     <p>Чоловік на годину – забудьте про свої проблеми.<br>
         Наші фахівці у Києві готові допомогти
         нашим клієнтам у вирішенні побутових проблем!</p>
</div>


<div class="men_text">
    <div class="men_str_1">
        <img src="{% static 'img/muzh_na_chas.jpg' %}" class="men_img">
    </div>
    <div class="men_str_2">
        <p>Коли самостійно немає можливості
        прикрутити люстру, полагодити полицю та інше – ми готові взяти на себе цю роботу.
        Незважаючи на універсальність, кожен із наших майстрів справжній професіонал своєї справи.
        <b><br>Переваги нашої пропозиції:<br></b>
        Гарантії, ціни та терміни визначаються чітко за прейскурантом та документацією;<br>
        Майстер виїжджає у зручний для Вас час.
        Це може бути вихідний або святковий день, ранок або вечір;</p>
        <p><br><b>Виконуємо роботи:</b><br>
        •Будь-який ремонт приміщень (укладання ламінату, лінолеуму, встановлення плінтусів,<br>
        укладання плитки, поклейка шпалер, фарбування, штукатурка)<br>
        •Роботи зі збирання та ремонту меблів<br>
        •Підйом/спуск техніки та меблів<br>
        •Роботи вантажника (розвантаження/навантаження/перевезення)<br>
        •Встановлення/ремонт замків<br>
        •Роботи поза квартирою/будинком (на вулиці/у під'їзді/ у підвалі<br>
        багатоквартирного будинку/горищах)<br>
        •Шведська стінка<br>
        •Робота з натяжними/підвісними стелями<br>
        •Роботи в гаражі<br>
        •Підйом/спуск техніки та меблів</p>
    </div>
</div>
{% endblock services %}
