{% load static %}

<body>
    <div class="header_0">
        <div class="logo_0">
            <img src="{% static 'img/IMG_9846.jpg' %}" id="main" alt="">
        </div>
        <div class="text1">
            <p1><b>Бездоганно чисто</b></p1>
            <p>Прибирання будь-якої складності у приміщеннях <br>та прилеглої території </p>
        </div>
        <div class="text2">
            <ul>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> Працюємо 24/7</li>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> м.Київ</li>
            </ul>
        </div>

        <div class="text3">
            <ul>
              <li><i class="fa fa-phone" aria-hidden="true"></i><a class='phoneclick' href="tel:+380971529140"> +380971529140</a></li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i> vivaCl.Kiev@gmail.com</li>
            </ul>
        </div>
    </div>
    <header>
        <div class="buttons">
            <a href="/" >ГОЛОВНА</a>
            <a href ="/portfolio">ПОРТФОЛІО</a>
            <a href ="/contacts">КОНТАКТИ</a>
            <a href ="/services">ПОСЛУГИ</a>
            <a href ="/comment">ВІДГУКИ</a>
        </div>
    <a id="scrollUp" href="tel:+380971529140" style="position: fixed; z-index: 2147483647; display: block;">
        <i class="fa fa-phone" aria-hidden="true" id="phone"></i>
    </a>
</header>


